body {
    margin: 0;
    padding: 0;
}

article {
    margin: 10px auto;
    width: 80%;
}

.section {
    padding: 2px;
}

.item-header {
    background-color: #d058db;
    box-shadow: 0px 5px 0px 0px rgba(128,21,128,1);
    -webkit-box-shadow: 0px 5px 0px 0px rgba(128,21,128,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(128,21,128,1);
    color: #ffffff;
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 20px 10px 20px 20px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.item-header:hover,
.item-header:active,
.item-header:focus,
.active{
    background-color: #7759d9;
    box-shadow: 0px 5px 0px 0px rgba(64,22,128,1);
    -webkit-box-shadow: 0px 5px 0px 0px rgba(64,22,128,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(64,22,128,1);
}
.item-header h2 {
    display: inline-block;
    margin: 0;
    width: 90%;
}
.item-header p {
    display: inline-block;
    font-size: 30px;
    margin: 0;
    width: 5%;
    text-align: right;
}

.item-content {
    border : 1px solid rgba(200, 200, 200, .8);
    color: #888888;
    font-family: sans-serif;
    padding: 5px 30px 5px 20px;
}

.hidden {
    display: none;
}